// jQuery UI
link(rel='stylesheet', href='/css/plugins/jquery-ui/jquery-ui.min.css')

// PageGuide
link(rel='stylesheet', href='/css/plugins/pageguide/pageguide.css')

// Fullcalendar
link(rel='stylesheet', href='/css/plugins/fullcalendar/fullcalendar.css')
link(rel='stylesheet', href='/css/plugins/fullcalendar/fullcalendar.print.css', media='print')

// Tagsinput
link(rel='stylesheet', href='/css/plugins/tagsinput/jquery.tagsinput.css')

// chosen
link(rel='stylesheet', href='/css/plugins/chosen/chosen.css')

// multi select
link(rel='stylesheet', href='/css/plugins/multiselect/multi-select.css')

// timepicker
link(rel='stylesheet', href='/css/plugins/timepicker/bootstrap-timepicker.min.css')

// colorpicker
link(rel='stylesheet', href='/css/plugins/colorpicker/colorpicker.css')

// Datepicker
link(rel='stylesheet', href='/css/plugins/datepicker/datepicker.css')

// Daterangepicker
link(rel='stylesheet', href='/css/plugins/daterangepicker/daterangepicker.css')

// Plupload
link(rel='stylesheet', href='/css/plugins/plupload/jquery.plupload.queue.css')

// select2
link(rel='stylesheet', href='/css/plugins/select2/select2.css')

// icheck
link(rel='stylesheet', href='/css/plugins/icheck/all.css')

// Theme CSS
link(rel='stylesheet', href='/css/style.css')

// Color CSS
link(rel='stylesheet', href='/css/themes.css')

// dataTables
link(rel='stylesheet', href='/css/plugins/datatable/TableTools.css')

// Custom css to 
link(rel='stylesheet', href='/css/system-styles.css')

// jQuery
script(src='/js/jquery.min.js')

// Nice Scroll
script(src='/js/plugins/nicescroll/jquery.nicescroll.min.js')

// imagesLoaded
script(src='/js/plugins/imagesLoaded/jquery.imagesloaded.min.js')

// jQuery UI
script(src='/js/plugins/jquery-ui/jquery-ui.js')

// slimScroll
script(src='/js/plugins/slimscroll/jquery.slimscroll.min.js')

// Bootstrap
script(src='/js/bootstrap.min.js')

// select2
script(src='/js/plugins/select2/select2.min.js')

// Bootbox
script(src='/js/plugins/bootbox/jquery.bootbox.js')

// Bootbox
script(src='/js/plugins/form/jquery.form.min.js')

// Validation
script(src='/js/plugins/validation/jquery.validate.min.js')
script(src='/js/plugins/validation/additional-methods.min.js')

// TagsInput
script(src='/js/plugins/tagsinput/jquery.tagsinput.min.js')

// Custom file upload
script(src='/js/plugins/fileupload/bootstrap-fileupload.min.js')

// icheck
script(src='/js/plugins/icheck/jquery.icheck.min.js')

// complexify
script(src='/js/plugins/complexify/jquery.complexify-banlist.min.js')
script(src='/js/plugins/complexify/jquery.complexify.min.js')

// Mockjax
script(src='/js/plugins/mockjax/jquery.mockjax.js')

// Chosen
script(src='/js/plugins/chosen/chosen.jquery.min.js')

// MultiSelect
script(src='/js/plugins/multiselect/jquery.multi-select.js')

// CKEditor
script(src='/js/plugins/ckeditor/ckeditor.js')

// Masked inputs
script(src='/js/plugins/maskedinput/jquery.maskedinput.min.js')

// Theme framework
script(src='/js/eakroko.min.js')

// Theme scripts
script(src='/js/application.min.js')

// Just for demonstration
script(src='/js/demonstration.min.js')

// New DataTables
script(src='/js/plugins/momentjs/jquery.moment.min.js')
script(src='/js/plugins/momentjs/moment-range.min.js')
script(src='/js/plugins/datatables/jquery.dataTables.min.js')
script(src='/js/plugins/datatables/extensions/dataTables.tableTools.min.js')
script(src='/js/plugins/datatables/extensions/dataTables.colReorder.min.js')
script(src='/js/plugins/datatables/extensions/dataTables.colVis.min.js')
script(src='/js/plugins/datatables/extensions/dataTables.scroller.min.js')

// Touch enable for jquery UI
script(src='/js/plugins/touch-punch/jquery.touch-punch.min.js')

// vmap
script(src='/js/plugins/vmap/jquery.vmap.min.js')
script(src='/js/plugins/vmap/jquery.vmap.world.js')
script(src='/js/plugins/vmap/jquery.vmap.sampledata.js')

// Flot
script(src='/js/plugins/flot/jquery.flot.min.js')
script(src='/js/plugins/flot/jquery.flot.bar.order.min.js')
script(src='/js/plugins/flot/jquery.flot.pie.min.js')
script(src='/js/plugins/flot/jquery.flot.resize.min.js')

// PageGuide
script(src='/js/plugins/pageguide/jquery.pageguide.js')

// FullCalendar
script(src='/js/plugins/fullcalendar/moment.min.js')
script(src='/js/plugins/fullcalendar/fullcalendar.min.js')

// Datepicker
script(src='/js/plugins/datepicker/bootstrap-datepicker.js')

// Daterangepicker
script(src='/js/plugins/daterangepicker/moment.min.js')
script(src='/js/plugins/daterangepicker/daterangepicker.js')

// Timepicker
script(src='/js/plugins/timepicker/bootstrap-timepicker.min.js')

// Colorpicker
script(src='/js/plugins/colorpicker/bootstrap-colorpicker.js')

script(src='/js/eakroko.js')

meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
// Apple devices fullscreen
meta(name='apple-mobile-web-app-capable', content='yes')
// Apple devices fullscreen
meta(names='apple-mobile-web-app-status-bar-style', content='black-translucent')
title FLAT - Login

//if lte IE 9
  script(src='/js/plugins/placeholder/jquery.placeholder.min.js')
  script.
    $(document).ready(function() {
      $('input, textarea').placeholder();
    });
// Favicon
link(rel='shortcut icon', href='/img/favicon.ico')
// Apple devices Homescreen icon
link(rel='apple-touch-icon-precomposed', href='/img/apple-touch-icon-precomposed.png')