#navigation(ng-controller='nav_controller')
  .container-fluid
    a#brand(href='/') Broker
    a.toggle-nav(href='#', rel='tooltip', data-placement='bottom', title='Toggle navigation')
      i.fa.fa-bars
    ul.main-nav
      li.active
        a(href='/')
          span Dashboard

      if (level.indexOf('CRM') != -1)
        li
          a.dropdown-toggle(href='#', data-toggle='dropdown')
            span CRM
            span.caret
          ul.dropdown-menu
            li
              a(href='/leadoverview') Leads
            li
              a(href='/clientoverview') Clients

      if (level.indexOf('Claims') != -1)
        li
          a(href='/claimoverview')
            span Claims

      if (level.indexOf('Billing') != -1)
        li
          a(href='#')
            span Billing

      if (level.indexOf('Reports') != -1)
        li
          a.dropdown-toggle(href='/', data-toggle='dropdown')
            span Reports
            span.caret
          ul.dropdown-menu
            li
              a(href='#') Invoices
            li
              a(href='#') Receipts
            li
              a(href='#') Claims
            li
              a(href='#') Expiration

      if (level.indexOf('Admin') != -1)
        li
          a(href='/accountoverview')
            span Admin
    .user
      .dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          | {{ loggedinUser }}
        ul.dropdown-menu.pull-right
          li
            a(href='/userprofile') Edit profile
          li
            a(href='/logout') Sign out