html
  body
    #left
        form.search-form(action='#', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Account Settings
          ul.subnav-menu
            li
              a(href='/addaccount') Add New Account
            li
              a(href='/accountoverview') Account Overview
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Branch Settings
          ul.subnav-menu
            li
              a(href='') Add New Branch
            li
              a(href='') Branch Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 Accounts
          .breadcrumbs
            ul
              li
                a(href='') Home
                i.fa.fa-angle-right
              li
                a(href='') Admin
            .close-bread
              a(href='#')
                i.fa.fa-times
          .row
            .col-sm-12
              .pull-right
                a(href='/addaccount')
                  button.btn.btn-primary.btn--icon.btn-green
                    i.glyphicon-user_add
                    | Add Account
              .box.box-color.box-bordered
                .box-title
                  h3
                    | Account Overview
                .box-content.nopadding
                  table.table.table-hover.table-nomargin.table-bordered.dataTable.dataTable-tools(data-column_filter_types='null,select,text,select,daterange,null', data-column_filter_dateformat='dd-mm-yy', data-nosort='0', data-checkall='all')
                    thead
                      tr
                        th.with-checkbox
                          input.dataTable-checkall(type='checkbox', name='check_all')
                        th Username
                        th Email
                        th.hidden-350 Company Role
                        th.hidden-1024 Access Level
                        th.hidden-480 Options
                    tbody
                        tr(ng-repeat='user in users')
                          td.with-checkbox
                            input(type='checkbox', name='check', value='1')
                          td {{ user.name }}
                          td {{ user.email }}
                          td.hidden-350
                            | {{ user.companyRole }}
                          td.hidden-1024 {{ user.levelAccess }}
                          td.hidden-480
                            a.btn(href="#" data-userid="{{ user.id }}", ng-click="getuser($event)", data-toggle="modal" data-target="#viewUser", rel='tooltip', title='View User Details')
                              i.fa.fa-search
                            a.btn(href='#', rel='tooltip', title='Edit')
                              i.fa.fa-edit
                            a.btn(href='#', rel='tooltip', title='Delete')
                              i.fa.fa-times