html
  body
    #content.container-fluid
      #left
        form.search-form(action='search-results.html', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='/')
              i.fa.fa-angle-down
              span Account Settings
          ul.subnav-menu
            li
              a(href='/addaccount') Add New Account
            li
              a(href='/accountoverview') Account Overview
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Branch Settings
          ul.subnav-menu
            li
              a(href='') Add New Branch
            li
              a(href='') Branch Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 User profile
          .breadcrumbs
            ul
              li
                a(href='/') Home
                i.fa.fa-angle-right
              li
                a(href='/accountoverview') Account
                i.fa.fa-angle-right
              li
                a(href='/addaccount') User profile
            .close-bread
              a(href='#')
                i.fa.fa-times
          .row
            .col-sm-12
              .box.box-color.box-bordered
                .box-title
                  h3
                    i.fa.fa-user
                    | Add user profile
                .box-content.nopadding
                  ul.tabs.tabs-inline.tabs-top
                    li.active
                      a(data-target='#profile', data-toggle='tab' style="cursor:pointer")
                        i.fa.fa-user
                        | Profile
                    li
                      a(data-target='#notifications', data-toggle='tab' style="cursor:pointer")
                        i.fa.fa-bullhorn
                        | Notifications
                    li
                      a(data-target='#security', data-toggle='tab' style="cursor:pointer")
                        i.fa.fa-lock
                        | Security
                  form#test.form-validate.form-horizontal(action='/addaccount', method='post')
                    .tab-content.padding.tab-content-inline.tab-content-bottom
                      #profile.tab-pane.active
                        .row
                          .col-sm-12
                            .form-group
                              label.control-label.col-sm-2.right(for='username') Username:
                              .col-sm-10
                                input.form-control(type='text', name='username', value='', data-rule-required='true')
                            .form-group
                              label.control-label.col-sm-2.right(for='firstname') First Name:
                              .col-sm-10
                                input.form-control(type='text', name='firstname', value='', data-rule-required='true')
                            .form-group
                              label.control-label.col-sm-2.right(for='lastname') Last Name:
                              .col-sm-10
                                input.form-control(type='text', name='lastname', value='', data-rule-required='true')
                            .form-group
                              label.control-label.col-sm-2.right(for='role') Company Role:
                              .col-sm-10
                                input.form-control(type='text', name='role', value='', data-rule-required='true')
                            .form-group
                              label.control-label.col-sm-2.right(for='email') Email:
                              .col-sm-10
                                input.form-control(type='text', name='email', placeholder='j.doe@johndoeemail.com', data-rule-required='true', data-rule-email='true')
                            .form-group
                              label.control-label.col-sm-2.right(for='password') Password:
                              .col-sm-10
                                input.form-control(type='password', name='password', placeholder='********', data-rule-required='true')
                        .form-actions
                          input.btn.btn-primary(type='submit', value='Save')
                      #notifications.tab-pane
                          .form-group
                            label.control-label.col-sm-2(for='textfield') Notifications
                            .col-sm-10
                              .check-line
                                input#c1.icheck-me(type='checkbox', name='changeAlert', data-skin='minimal')
                                label.inline(for='c1') Status Change Alert
                              .check-line
                                input#c2.icheck-me(type='checkbox', name='emailNotification', data-skin='minimal')
                                label.inline(for='c2') E-mail Notification
                          .form-group
                            label.control-label.col-sm-2(for='textfield') Send to
                            .col-sm-10
                              select#s2.select2-me(name='send2', style='width:250px;', data-placeholder='Please select something')
                                option(value='')
                                option(value='01') info@email.com
                                option(value='02') info@email.com
                                option(value='03') info@email.com
                      #security.tab-pane
                          .form-group
                            label.control-label.col-sm-2(for='textfield') Access Level
                            .col-sm-10
                              .check-line
                                input#c2.icheck-me(type='checkbox', name='acclevel_crm', data-skin='minimal', value='CRM')
                                label.inline(for='c2') CRM
                              .check-line
                                input#c3.icheck-me(type='checkbox', name='acclevel_claims', data-skin='minimal', value='Claims')
                                label.inline(for='c3') Claims
                              .check-line
                                input#c4.icheck-me(type='checkbox', name='acclevel_billing', data-skin='minimal', value='Billing')
                                label.inline(for='c4') Billing
                              .check-line
                                input#c5.icheck-me(type='checkbox', name='acclevel_reports', data-skin='minimal', value='Reports')
                                label.inline(for='c5') Reports
                              .check-line
                                input#c1.icheck-me(type='checkbox', name='acclevel_dashboard', data-skin='minimal', value='Admin')
                                label.inline(for='c1') Admin
                          .form-group
                            label.control-label.col-sm-2(for='textfield') Branch Level
                            .col-sm-10
                              select#s2.select2-me(name='branch', style='width:250px;', data-placeholder='Please select something', data-rule-required='true')
                                option(value='')
                                option(value='01') Dar es Salaam
                                option(value='02') Arusha
                                option(value='03') Moshi
                                option(value='04') Mwanza
                                option(value='05') Iringa
                                option(value='05') All

    script(type='text/javascript').
      $(".select2-me").select2();

      $(".icheck-me").each(function () {
        var $el = $(this);
        var skin = ($el.attr('data-skin') !== undefined) ? "_" + $el.attr('data-skin') : "",
          color = ($el.attr('data-color') !== undefined) ? "-" + $el.attr('data-color') : "";

        var opt = {
          checkboxClass: 'icheckbox' + skin + color,
          radioClass   : 'iradio' + skin + color,
          increaseArea : "10%"
        }

        $el.iCheck(opt);
      });