html
  body
    .modal-header
      h3.modal-title View User Information
    .modal-body
      table.table.table-striped
        thead
          tr
            th Username
            th Email
            th Company Role
            th Access Level
        tbody
          tr
            td {{ userDetails.name }}
            td {{ userDetails.email }}
            td {{ userDetails.companyRole }}
            td {{ userDetails.levelAccess }}
    .modal-footer
      button.btn.btn-warning(type='button', ng-click='cancel()') Close
