extends layout

block navigation
  include ./includes/navigation.jade

block content

    #content.container-fluid
      #left
        form.search-form(action='#', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Leads
          ul.subnav-menu
            li
              a(href='/addnewlead') Add New Lead
            li
              a(href='/leadoverview') Lead Overview
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Clients
          ul.subnav-menu
            li
              a(href='/addnewclient') Add New Client
            li
              a(href='/clientoverview') Client Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 Add New Lead
          .breadcrumbs
            ul
              li
                a(href='/') Home
                i.fa.fa-angle-right
              li
                a(href='#') CRM
                i.fa.fa-angle-right
              li
                a(href='/addnewlead') Add New Lead
            .close-bread
              a(href='#')
                i.fa.fa-times
          .row
            .col-sm-12
              .box
                .box-title
                  h3
                    | A. General Information
                .box-content.nopadding
                  form.form-horizontal.form-column.form-bordered(action='#', method='POST')
                    .row
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Name of the Proposer
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Name', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='numberfield') ID Number
                          .col-sm-8
                            input#numberfield.form-control(type='text', placeholder='ID Number', name='numberfield', data-rule-number='true', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') P.O. Box
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='P.O. Box', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Place
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Place', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Region
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Region', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Date of Birth
                          .col-sm-8
                            input#textfield.form-control.datepick(type='text', name='textfield', data-rule-required='true')
                            span.help-block As dropdown
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Phone number
                          .col-sm-8
                            input#textfield.form-control.mask_phone(type='text', name='textfield', data-rule-required='true')
                            span.help-block Format: (0) 999 999 999 
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Phone number 2
                          .col-sm-8
                            input#textfield.form-control.mask_phone(type='text', name='textfield')
                            span.help-block Format: (0) 999 999 999 
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Fax Number
                          .col-sm-8
                            input#textfield.form-control.mask_phone(type='text', name='textfield')
                            span.help-block Format: (0) 999 999 999  
                        .form-group
                          label.control-label.col-sm-4(for='emailfield') Email
                          .col-sm-8
                            input#emailfield.form-control(type='text', name='emailfield', data-rule-email='true', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4
                            | Preferred Mode of Communication
                          .col-sm-8
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | SMS
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | E-mail
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Telephone
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Mobile
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Postal
                    .box-title
                      h3
                        | B. Vehicle Information
                    .row
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Registration of Vehicle
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Registration', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Year of Manufacture
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Year', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Value of Vehicle
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Value', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Begin Period of Insurance  + End Period of Insurance
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Name', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Period of Insurance
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Period', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Registered Letter & Number
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Number', data-rule-required='true')
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Engine & Chassis No.
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Engine & Chassis No.', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Make of Vehicle
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Vehicle', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Type of Body
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Type of Body', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') C.C
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='C.C.', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Carrying or Seating Capacity
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Seats', data-rule-required='true')
                    .box-title
                      h3
                        | C. Scope of Cover
                    .row
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4
                            | Type of Cover
                          .col-sm-8
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Comprehensive Cover
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Third Party Only Cover
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4
                            | Purpose of the vehicle is being used?
                          .col-sm-8
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Private
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Commercial (Own Good)
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Commercial (For hire)
                            .checkbox
                              label
                                input(type='checkbox', name='checkbox')
                                | Psv
                    .box-title
                      h3
                        | D. Payment Information
                    .row
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Insurer
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Insurer', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Premium Amount
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Premium Amount', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Begin Period of Insurance  + End Period of Insurance
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Name', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Period of Insurance
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Period', data-rule-required='true')
                      .col-sm-6
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Overal Status
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Quote', data-rule-required='true')
                        .form-group
                          label.control-label.col-sm-4(for='textfield') Payment Status
                          .col-sm-8
                            input#textfield.form-control(type='text', name='textfield', placeholder='Paid / Unpaid', data-rule-required='true')
                    .row
                      .col-sm-12
                        .form-actions
                          button.btn.btn-primary(type='submit') Save
                          button.btn(type='button') Cancel