extends layout

block navigation
  include ./includes/navigation.jade

block content

    #new-task.modal.fade(tabindex='-1', role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Add new task
          form.new-task-form.form-horizontal.form-bordered(action='#')
            .modal-body.nopadding
              .form-group
                label.col-sm-3.control-label(for='tasktitel') Icon
                .col-sm-9
                  select#icons.select2-me.input-xlarge(name='icons')
                    option(value='adjust') icon-adjust
                    option(value='asterisk') icon-asterisk
                    option(value='ban-circle') icon-ban-circle
                    option(value='bar-chart') icon-bar-chart
                    option(value='barcode') icon-barcode
                    option(value='beaker') icon-beaker
                    option(value='beer') icon-beer
                    option(value='bell') icon-bell
                    option(value='bell-alt') icon-bell-alt
                    option(value='bolt') icon-bolt
                    option(value='book') icon-book
                    option(value='bookmark') icon-bookmark
                    option(value='bookmark-empty') icon-bookmark-empty
                    option(value='briefcase') icon-briefcase
                    option(value='bullhorn') icon-bullhorn
                    option(value='calendar') icon-calendar
                    option(value='camera') icon-camera
                    option(value='camera-retro') icon-camera-retro
                    option(value='certificate') icon-certificate
                    option(value='check') icon-check
                    option(value='check-empty') icon-check-empty
                    option(value='circle') icon-circle
                    option(value='circle-blank') icon-circle-blank
                    option(value='cloud') icon-cloud
                    option(value='cloud-download') icon-cloud-download
                    option(value='cloud-upload') icon-cloud-upload
                    option(value='coffee') icon-coffee
                    option(value='cog') icon-cog
                    option(value='cogs') icon-cogs
                    option(value='comment') icon-comment
                    option(value='comment-alt') icon-comment-alt
                    option(value='comments') icon-comments
                    option(value='comments-alt') icon-comments-alt
                    option(value='credit-card') icon-credit-card
                    option(value='dashboard') icon-dashboard
                    option(value='desktop') icon-desktop
                    option(value='download') icon-download
                    option(value='download-alt') icon-download-alt
                    option(value='edit') icon-edit
                    option(value='envelope') icon-envelope
                    option(value='envelope-alt') icon-envelope-alt
                    option(value='exchange') icon-exchange
                    option(value='exclamation-sign') icon-exclamation-sign
                    option(value='external-link') icon-external-link
                    option(value='eye-close') icon-eye-close
                    option(value='eye-open') icon-eye-open
                    option(value='facetime-video') icon-facetime-video
                    option(value='fighter-jet') icon-fighter-jet
                    option(value='film') icon-film
                    option(value='filter') icon-filter
                    option(value='fire') icon-fire
                    option(value='flag') icon-flag
                    option(value='folder-close') icon-folder-close
                    option(value='folder-open') icon-folder-open
                    option(value='folder-close-alt') icon-folder-close-alt
                    option(value='folder-open-alt') icon-folder-open-alt
                    option(value='food') icon-food
                    option(value='gift') icon-gift
                    option(value='glass') icon-glass
                    option(value='globe') icon-globe
                    option(value='group') icon-group
                    option(value='hdd') icon-hdd
                    option(value='headphones') icon-headphones
                    option(value='heart') icon-heart
                    option(value='heart-empty') icon-heart-empty
                    option(value='home') icon-home
                    option(value='inbox') icon-inbox
                    option(value='info-sign') icon-info-sign
                    option(value='key') icon-key
                    option(value='leaf') icon-leaf
                    option(value='laptop') icon-laptop
                    option(value='legal') icon-legal
                    option(value='lemon') icon-lemon
                    option(value='lightbulb') icon-lightbulb
                    option(value='lock') icon-lock
                    option(value='unlock') icon-unlock
                    option(value='magic') icon-magic
                    option(value='magnet') icon-magnet
                    option(value='map-marker') icon-map-marker
                    option(value='minus') icon-minus
                    option(value='minus-sign') icon-minus-sign
                    option(value='mobile-phone') icon-mobile-phone
                    option(value='money') icon-money
                    option(value='move') icon-move
                    option(value='music') icon-music
                    option(value='off') icon-off
                    option(value='ok') icon-ok
                    option(value='ok-circle') icon-ok-circle
                    option(value='ok-sign') icon-ok-sign
                    option(value='pencil') icon-pencil
                    option(value='picture') icon-picture
                    option(value='plane') icon-plane
                    option(value='plus') icon-plus
                    option(value='plus-sign') icon-plus-sign
                    option(value='print') icon-print
                    option(value='pushpin') icon-pushpin
                    option(value='qrcode') icon-qrcode
                    option(value='question-sign') icon-question-sign
                    option(value='quote-left') icon-quote-left
                    option(value='quote-right') icon-quote-right
                    option(value='random') icon-random
                    option(value='refresh') icon-refresh
                    option(value='remove') icon-remove
                    option(value='remove-circle') icon-remove-circle
                    option(value='remove-sign') icon-remove-sign
                    option(value='reorder') icon-reorder
                    option(value='reply') icon-reply
                    option(value='resize-horizontal') icon-resize-horizontal
                    option(value='resize-vertical') icon-resize-vertical
                    option(value='retweet') icon-retweet
                    option(value='road') icon-road
                    option(value='rss') icon-rss
                    option(value='screenshot') icon-screenshot
                    option(value='search') icon-search
                    option(value='share') icon-share
                    option(value='share-alt') icon-share-alt
                    option(value='shopping-cart') icon-shopping-cart
                    option(value='signal') icon-signal
                    option(value='signin') icon-signin
                    option(value='signout') icon-signout
                    option(value='sitemap') icon-sitemap
                    option(value='sort') icon-sort
                    option(value='sort-down') icon-sort-down
                    option(value='sort-up') icon-sort-up
                    option(value='spinner') icon-spinner
                    option(value='star') icon-star
                    option(value='star-empty') icon-star-empty
                    option(value='star-half') icon-star-half
                    option(value='tablet') icon-tablet
                    option(value='tag') icon-tag
                    option(value='tags') icon-tags
                    option(value='tasks') icon-tasks
                    option(value='thumbs-down') icon-thumbs-down
                    option(value='thumbs-up') icon-thumbs-up
                    option(value='time') icon-time
                    option(value='tint') icon-tint
                    option(value='trash') icon-trash
                    option(value='trophy') icon-trophy
                    option(value='truck') icon-truck
                    option(value='umbrella') icon-umbrella
                    option(value='upload') icon-upload
                    option(value='upload-alt') icon-upload-alt
                    option(value='user') icon-user
                    option(value='user-md') icon-user-md
                    option(value='volume-off') icon-volume-off
                    option(value='volume-down') icon-volume-down
                    option(value='volume-up') icon-volume-up
                    option(value='warning-sign') icon-warning-sign
                    option(value='wrench') icon-wrench
                    option(value='zoom-in') icon-zoom-in
                    option(value='zoom-out') icon-zoom-out
                    option(value='file') icon-file
                    option(value='file-alt') icon-file-alt
                    option(value='cut') icon-cut
                    option(value='copy') icon-copy
                    option(value='paste') icon-paste
                    option(value='save') icon-save
                    option(value='undo') icon-undo
                    option(value='repeat') icon-repeat
                    option(value='text-height') icon-text-height
                    option(value='text-width') icon-text-width
                    option(value='align-left') icon-align-left
                    option(value='align-center') icon-align-center
                    option(value='align-right') icon-align-right
                    option(value='align-justify') icon-align-justify
                    option(value='indent-left') icon-indent-left
                    option(value='indent-right') icon-indent-right
                    option(value='font') icon-font
                    option(value='bold') icon-bold
                    option(value='italic') icon-italic
                    option(value='strikethrough') icon-strikethrough
                    option(value='underline') icon-underline
                    option(value='link') icon-link
                    option(value='paper-clip') icon-paper-clip
                    option(value='columns') icon-columns
                    option(value='table') icon-table
                    option(value='th-large') icon-th-large
                    option(value='th') icon-th
                    option(value='th-list') icon-th-list
                    option(value='list') icon-list
                    option(value='list-ol') icon-list-ol
                    option(value='list-ul') icon-list-ul
                    option(value='list-alt') icon-list-alt
                    option(value='angle-left') icon-angle-left
                    option(value='angle-right') icon-angle-right
                    option(value='angle-up') icon-angle-up
                    option(value='angle-down') icon-angle-down
                    option(value='arrow-down') icon-arrow-down
                    option(value='arrow-left') icon-arrow-left
                    option(value='arrow-right') icon-arrow-right
                    option(value='arrow-up') icon-arrow-up
                    option(value='caret-down') icon-caret-down
                    option(value='caret-left') icon-caret-left
                    option(value='caret-right') icon-caret-right
                    option(value='caret-up') icon-caret-up
                    option(value='chevron-down') icon-chevron-down
                    option(value='chevron-left') icon-chevron-left
                    option(value='chevron-right') icon-chevron-right
                    option(value='chevron-up') icon-chevron-up
                    option(value='circle-arrow-down') icon-circle-arrow-down
                    option(value='circle-arrow-left') icon-circle-arrow-left
                    option(value='circle-arrow-right') icon-circle-arrow-right
                    option(value='circle-arrow-up') icon-circle-arrow-up
                    option(value='double-angle-left') icon-double-angle-left
                    option(value='double-angle-right') icon-double-angle-right
                    option(value='double-angle-up') icon-double-angle-up
                    option(value='double-angle-down') icon-double-angle-down
                    option(value='hand-down') icon-hand-down
                    option(value='hand-left') icon-hand-left
                    option(value='hand-right') icon-hand-right
                    option(value='hand-up') icon-hand-up
                    option(value='circle') icon-circle
                    option(value='circle-blank') icon-circle-blank
                    option(value='play-circle') icon-play-circle
                    option(value='play') icon-play
                    option(value='pause') icon-pause
                    option(value='stop') icon-stop
                    option(value='step-backward') icon-step-backward
                    option(value='fast-backward') icon-fast-backward
                    option(value='backward') icon-backward
                    option(value='forward') icon-forward
                    option(value='fast-forward') icon-fast-forward
                    option(value='step-forward') icon-step-forward
                    option(value='eject') icon-eject
                    option(value='fullscreen') icon-fullscreen
                    option(value='resize-full') icon-resize-full
                    option(value='resize-small') icon-resize-small
                    option(value='phone') icon-phone
                    option(value='phone-sign') icon-phone-sign
                    option(value='facebook') icon-facebook
                    option(value='facebook-sign') icon-facebook-sign
                    option(value='twitter') icon-twitter
                    option(value='twitter-sign') icon-twitter-sign
                    option(value='github') icon-github
                    option(value='github-alt') icon-github-alt
                    option(value='github-sign') icon-github-sign
                    option(value='linkedin') icon-linkedin
                    option(value='linkedin-sign') icon-linkedin-sign
                    option(value='pinterest') icon-pinterest
                    option(value='pinterest-sign') icon-pinterest-sign
                    option(value='google-plus') icon-google-plus
                    option(value='google-plus-sign') icon-google-plus-sign
                    option(value='sign-blank') icon-sign-blank
                    option(value='ambulance') icon-ambulance
                    option(value='beaker') icon-beaker
                    option(value='h-sign') icon-h-sign
                    option(value='hospital') icon-hospital
                    option(value='medkit') icon-medkit
                    option(value='plus-sign-alt') icon-plus-sign-alt
                    option(value='stethoscope') icon-stethoscope
                    option(value='user-md') icon-user-md
              .form-group
                label.col-sm-3.control-label(for='task-name') Task
                .col-sm-9
                  input(type='text', name='task-name')
              .form-group
                label.col-sm-3.control-label(for='tasktitel')
                .col-sm-9
                  label.checkbox
                    input(type='checkbox', name='task-bookmarked', value='yep')
                    | Mark as important
            .modal-footer
              input.btn.btn-primary(type='submit', value='Add task')
     #modal-user.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#myModalLabel.modal-title Jane Doe
          .modal-body
            .row
              .col-sm-2
                img(src='img/demo/user-1.jpg', alt='')
              .col-sm-10
                dl.dl-horizontal(style='margin-top:0;')
                  dt Full name:
                  dd Jane Doe
                  dt Email:
                  dd jane.doe@janedoesemail.com
                  dt Address:
                  dd
                    address
                      strong John Doe, Inc.
                      br
                      | 7195 JohnsonDoes Ave, Suite 320
                      br
                      | San Francisco, CA 881234
                      br
                      abbr(title='Phone') P:
                      | 										(123) 456-7890
                  dt Social:
                  dd
                    a.btn(href='#')
                      i.fa.fa-facebook
                    a.btn(href='#')
                      i.fa.fa-twitter
                    a.btn(href='#')
                      i.fa.fa-linkedin
                    a.btn(href='#')
                      i.fa.fa-envelope
                    a.btn(href='#')
                      i.fa.fa-rss
                    a.btn(href='#')
                      i.fa.fa-github
          .modal-footer
            button.btn(data-dismiss='modal') Close
     #content.container-fluid
      #left
        form.search-form(action='#', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Leads
          ul.subnav-menu
            li
              a(href='/addnewlead') Add New Lead
            li
              a(href='/leadoverview') Lead Overview
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Clients
          ul.subnav-menu
            li
              a(href='/addnewclient') Add New Client
            li
              a(href='/clientoverview') Client Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 Client Overview
          .breadcrumbs
            ul
              li
                a(href='/') Home
                i.fa.fa-angle-right
              li
                a(href='#') CRM
                i.fa.fa-angle-right
              li
                a(href='/clientoverview') Client Overview
            .close-bread
              a(href='#')
                i.fa.fa-times