doctype html
html(ng-app='bsoft')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    // Apple devices fullscreen
    meta(name='apple-mobile-web-app-capable', content='yes')
    // Apple devices fullscreen
    meta(names='apple-mobile-web-app-status-bar-style', content='black-translucent')

    title FLAT - Dashboard

    // base url for angularjs clean urls
    <base href="/">

    // Bootstrap
    link(rel='stylesheet', href='/css/bootstrap.min.css')

    include ./includes/libraries.jade

    script(src='/js/angular.min.js')
    script(src='/js/angular-route.min.js')
    script(src='/js/ui-bootstrap-1.3.2.min.js')
    script(src='/js/ui-bootstrap-tpls-1.3.2.min.js')
    script(src='/js/angular.controller.js')
    script(src='/js/system.controller.js')

    <base href="/">

  body

    block navigation

    block content

  script(type='text/javascript').
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-38620714-4']);
      _gaq.push(['_trackPageview']);
      (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
      })();