extends layout

block navigation
  include ./includes/navigation.jade

block content

    #content.container-fluid
      #left
        form.search-form(action='#', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Leads
          ul.subnav-menu
            li
              a(href='/addnewlead') Add New Lead
            li
              a(href='/leadoverview') Lead Overview
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Clients
          ul.subnav-menu
            li
              a(href='/addnewclient') Add New Client
            li
              a(href='/clientoverview') Client Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 Leads
          .breadcrumbs
            ul
              li
                a(href='more-login. Checkboxhtml') Home
                i.fa.fa-angle-right
              li
                a(href='tables-basic.html') CRM
                i.fa.fa-angle-right
              li
                a(href='/leadoverview') Lead Overview
            .close-bread
              a(href='#')
                i.fa.fa-times
          .row
            .col-sm-12
              .pull-right
                a(href='/addnewlead')
                  button.btn.btn-primary.btn--icon.btn-green
                    i.glyphicon-user_add
                    | Add Lead
              .box.box-color.box-bordered
                .box-title
                  h3
                    | Lead Overview
                .box-content.nopadding
                  table.table.table-hover.table-nomargin.table-bordered.dataTable.dataTable-column_filter.dataTable-tools(data-column_filter_types='null,select,text,select,daterange,null', data-column_filter_dateformat='dd-mm-yy', data-nosort='0', data-checkall='all')
                    thead
                      tr
                        th.with-checkbox
                          input.dataTable-checkall(type='checkbox', name='check_all')
                        th Last Name
                        th Insurance ID
                        th.hidden-350 Status
                        th.hidden-1024 End Period of Insurance
                        th.hidden-480 Options
                    tbody
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td John Doe
                        td john.doe@johndoe.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 03-07-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Jane Doe
                        td jane.doe@johndoe.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 02-07-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Max Mustermann
                        td max.mustermann@maxmustermann.com
                        td.hidden-350
                          | Inactive
                        td.hidden-1024 01-07-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Mary P. Hendrix
                        td mary.p@maryhendrix.com
                        td.hidden-350
                          | Disabled
                        td.hidden-1024 30-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td John J. Rodriquez
                        td mary.p@maryhendrix.com
                        td.hidden-350
                          | Disabled
                        td.hidden-1024 30-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Rochelle J. Worsham
                        td RochelleJWorsham@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 28-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Scott J. Fountain
                        td ScottJFountain@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 27-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Rita J. Lima
                        td RitaJLima@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 26-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Beth B. Tabb
                        td BethBTabb@einrot.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 26-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Grace J. McClelland
                        td GraceJMcClelland@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 24-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Michael J. Puente
                        td MichaelJPuente@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 23-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Jeffery B. Barnard
                        td JefferyBBarnard@einrot.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 22-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Johanna R. Lewis
                        td JohannaRLewis@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 21-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Rochelle J. Worsham
                        td RochelleJWorsham@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 21-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Rudolph B. Beaty
                        td RudolphBBeaty@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 21-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td John T. Medina
                        td JohnTMedina@einrot.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 20-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Dwayne D. Bender
                        td DwayneDBender@einrot.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 20-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Peter C. Thomas
                        td PeterCThomas@einrot.com
                        td.hidden-350
                          | Disabled
                        td.hidden-1024 19-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Dolores R. Anderson
                        td DoloresRAnderson@einrot.com
                        td.hidden-350
                          | Active
                        td.hidden-1024 19-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Cathleen K. King
                        td CathleenKKing@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 30-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Leslie M. Martinez
                        td LeslieMMartinez@cuvox.de
                        td.hidden-350
                          | Active
                        td.hidden-1024 18-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times
                      tr
                        td.with-checkbox
                          input(type='checkbox', name='check', value='1')
                        td Rochelle J. Worsham
                        td RochelleJWorsham@cuvox.de
                        td.hidden-350
                          | Inactive
                        td.hidden-1024 16-06-2014
                        td.hidden-480
                          a.btn(href='#', rel='tooltip', title='View')
                            i.fa.fa-search
                          a.btn(href='#', rel='tooltip', title='Edit')
                            i.fa.fa-edit
                          a.btn(href='#', rel='tooltip', title='Delete')
                            i.fa.fa-times