extends layout

block navigation
  include ./includes/navigation.jade

block content

  .locked
    .wrapper
      .pull-left
        img(src='img/demo/locked.jpg', alt='', width='200', height='200')
        a(href='/login') Not John Doe?
      .right
        .upper
          h2 John Doe
          span Locked
        form(action='/', method='get')
          input.form-control(type='password', placeholder='Password')
          div
            input.btn.btn-inverse(type='submit', value='Unlock')