extends layout

block navigation
  include ./includes/navigation.jade

block content

    #content.container-fluid
      #left
        form.search-form(action='#', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Invoices
          ul.subnav-menu
            li
              a(href='#') Create Invoice
            li
              a(href='#') Invoice Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 Invoice
          .breadcrumbs
            ul
              li
                a(href='/') Home
                i.fa.fa-angle-right
              li
                a(href='#') Reports
                i.fa.fa-angle-right
              li
                a(href='#') Invoice
            .close-bread
              a(href='#')
                i.fa.fa-times
          .row
            .col-sm-12
              .box
                .box-title
                  h3
                    i.fa.fa-money
                    | 									Invoice
                .box-content
                  .invoice-info
                    .invoice-name
                      | Company Name
                    .invoice-from
                      span From
                      strong Company Name
                      address
                        | Street Address
                        br
                        | City, ST ZIP Code
                        br
                        abbr(title='Phone') Phone:
                        | (125) 358123-581
                        br
                        abbr(title='Fax') Fax:
                        | (125) 251656-222
                    .invoice-to
                      span To
                      strong Max Mustermann
                      address
                        | Street Address
                        br
                        | City, ST ZIP Code
                        br
                        abbr(title='Phone') Phone:
                        | (125) 358123-581
                        br
                        abbr(title='Fax') Fax:
                        | (125) 251656-222
                    .invoice-infos
                      table
                        tr
                          th Date:
                          td Aug 06, 2012
                        tr
                          th Invoice #:
                          td 0001752188s
                        tr
                          th Product:
                          td Service Hotline
                  table.table.table-striped.table-invoice
                    thead
                      tr
                        th Item
                        th Price
                        th Qty
                        th.tr Total
                    tbody
                      tr
                        td.name Lorem ipsum in eu quis
                        td.price $30.00
                        td.qty 3
                        td.total $90.00
                      tr
                        td.name Lorem ipsum in eu quis
                        td.price $30.00
                        td.qty 3
                        td.total $90.00
                      tr
                        td.name Lorem ipsum in eu quis
                        td.price $30.00
                        td.qty 3
                        td.total $90.00
                      tr
                        td.name Lorem ipsum in eu quis
                        td.price $30.00
                        td.qty 3
                        td.total $90.00
                      tr
                        td.name Lorem ipsum in eu quis
                        td.price $30.00
                        td.qty 3
                        td.total $90.00
                      tr
                        td(colspan='3')
                        td.taxes
                          p
                            span.light Subtotal
                            span $450.00
                          p
                            span.light Tax(10%)
                            span $45.00
                          p
                            span.light Total
                            span.totalprice
                              | $495.00
                  .invoice-payment
                    span Payment methods
                    ul
                      li
                        img(src='img/demo/paypal.png', alt='')
                      li
                        img(src='img/demo/visa.png', alt='')
                      li
                        img(src='img/demo/directd.png', alt='')
                      li
                        img(src='img/demo/mastercard.png', alt='')