extends layout

extends layout

block content
  script(src='/js/system.controller.js')
  body(ng-controller='myController').login
    .wrapper
      h1
        a(href='/')
          | BROKER
      .login-body
        h2 Login or 
          a(href='/signup') Create an Account
        form#test.form-validate(action='/login', method='post')
          if loginMessage
            p #{loginMessage}
          .form-group
            .email.controls
              input.form-control(type='text', name='email', placeholder='Email address', data-rule-required='true', data-rule-email='true')
          .form-group
            .pw.controls
              input.form-control(type='password', name='password', placeholder='Password', data-rule-required='true')
          .submit
            .remember
              input#remember.icheck-me(type='checkbox', name='remember', data-skin='square', data-color='blue')
              label(for='remember') Remember me

            input.btn.btn-primary(type='submit', value='Sign me in')
        .forget
          a(href='#', data-toggle="modal" data-target="#paswdReset")
            span Forgot password?

        // Password Reset Modal
        #paswdReset.modal.fade(role='dialog')
          .modal-dialog
            // Modal content
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Password Reset
              .modal-body
                form#test.passwd_rst.form-validate(action='/forgot', method='post')
                  if loginMessage
                    p #{loginMessage}
                  .form-group
                    .email.controls
                      h4(id='not_found_msg') User with that email was not found
                      label(for='email') Enter your Email address
                      input.form-control(type='text', id='passwd_rst_email' name='email', placeholder='Email address', data-rule-required='true', data-rule-email='true')
                    p(id='email_err') Looks like you entered an invalid email
                  .submit
                    a(href='/login', class='pull-left')
                      input.btn.btn-primary(value='Back to Login')

                    input.btn.btn-primary(type='submit', id='password_rst' value='Reset Password')
              .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') Close