extends layout

block navigation
  include ./includes/navigation.jade

block content

    #content.container-fluid
      #left
        form.search-form(action='#', method='GET')
          .search-pane
            input(type='text', name='search', placeholder='Search here...')
            button(type='submit')
              i.fa.fa-search
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Account Settings
          ul.subnav-menu
            li
              a(href='/addaccount') Add New Account
            li
              a(href='/accountoverview') Account Overview
        .subnav
          .subnav-title
            a.toggle-subnav(href='#')
              i.fa.fa-angle-down
              span Branch Settings
          ul.subnav-menu
            li
              a(href='') Add New Branch
            li
              a(href='') Branch Overview
      #main
        .container-fluid
          .page-header
            .pull-left
              h1 User profile
          .breadcrumbs
            ul
              li
                a(href='/') Home
                i.fa.fa-angle-right
              li
                a(href='/accountoverview') Account
                i.fa.fa-angle-right
              li
                a(href='/userprofile') User profile
            .close-bread
              a(href='#')
                i.fa.fa-times
          .row
            .col-sm-12
              .box.box-color.box-bordered
                .box-title
                  h3
                    i.fa.fa-user
                    | 									Edit user profile
                .box-content.nopadding
                  ul.tabs.tabs-inline.tabs-top
                    li.active
                      a(href='#profile', data-toggle='tab')
                        i.fa.fa-user
                        | Profile
                    li
                      a(href='#notifications', data-toggle='tab')
                        i.fa.fa-bullhorn
                        | Notifications
                    li
                      a(href='#security', data-toggle='tab')
                        i.fa.fa-lock
                        | Security
                  .tab-content.padding.tab-content-inline.tab-content-bottom
                    #profile.tab-pane.active
                      form.form-horizontal(action='#')
                        .row
                          .col-sm-12
                            .form-group
                              label.control-label.col-sm-2.right(for='name') Username:
                              .col-sm-10
                                input.form-control(type='text', name='name', value='')
                            .form-group
                              label.control-label.col-sm-2.right(for='name') First Name:
                              .col-sm-10
                                input.form-control(type='text', name='name', value='')
                            .form-group
                              label.control-label.col-sm-2.right(for='name') Last Name:
                              .col-sm-10
                                input.form-control(type='text', name='name', value='')
                            .form-group
                              label.control-label.col-sm-2.right(for='name') Company Role:
                              .col-sm-10
                                input.form-control(type='text', name='name', value='')
                            .form-group
                              label.control-label.col-sm-2.right(for='email') Email:
                              .col-sm-10
                                input.form-control(type='text', name='email', value='j.doe@johndoeemail.com')
                                .form-button
                                  a.btn.btn-grey-4.change-input(href='#') Change
                            .form-group
                              label.control-label.col-sm-2.right(for='pw') Password:
                              .col-sm-10
                                input.form-control(type='password', name='pw', value='********')
                                .form-button
                                  a.btn.btn-grey-4.change-input(href='#') Change
                            .form-actions
                              input.btn.btn-primary(type='submit', value='Save')
                              input.btn(type='reset', value='Discard changes')
                    #notifications.tab-pane
                      form.form-horizontal(action='#')
                        .form-group
                          label.control-label.col-sm-2(for='textfield') Notifications
                          .col-sm-10
                            .check-line
                              input#c1.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c1') Status Change Alert
                            .check-line
                              input#c2.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c2') E-mail Notification
                        .form-group
                          label.control-label.col-sm-2(for='textfield') Send to
                          .col-sm-10
                            select#s2.select2-me(name='s2', style='width:250px;', data-placeholder='Please select something')
                              option(value='')
                              option(value='01') info@email.com
                              option(value='02') info@email.com
                              option(value='03') info@email.com
                        .form-actions
                          input.btn.btn-primary(type='submit', value='Save')
                          input.btn(type='reset', value='Discard changes')
                    #security.tab-pane
                      form.form-horizontal(action='#')
                        .form-group
                          label.control-label.col-sm-2(for='textfield') Access Level
                          .col-sm-10
                            .check-line
                              input#c1.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c1') Dashboard
                            .check-line
                              input#c2.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c2') CRM
                            .check-line
                              input#c3.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c3') Claims
                            .check-line
                              input#c4.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c4') Billing
                            .check-line
                              input#c5.icheck-me(type='checkbox', data-skin='minimal')
                              label.inline(for='c5') Reports
                        .form-group
                          label.control-label.col-sm-2(for='textfield') Branch Level
                          .col-sm-10
                            select#s2.select2-me(name='s2', style='width:250px;', data-placeholder='Please select something')
                              option(value='')
                              option(value='01') Dar es Salaam
                              option(value='02') Arusha
                              option(value='03') Moshi
                              option(value='04') Mwanza
                              option(value='05') Iringa
                              option(value='05') All
                        .form-actions
                          input.btn.btn-primary(type='submit', value='Save')
                          input.btn(type='reset', value='Discard changes')