extends layout

block content

  body.login
    .wrapper(style='top: 40%')
      h1
        a(href='/')
          | BROKER
      .login-body
        h2 Change your Password
        form#test.form-validate(action='/reset/#{token}', method='post')
          if signupMessage
            p #{signupMessage}

          .form-group
            .pw.controls
              input.form-control(type='password', id="password", name='password', placeholder='Enter Password', data-rule-required='true')

          .form-group
            .pw.controls
              input.form-control(type='password', id="password_again", name='password_again', placeholder='Confirm Password', data-rule-required='true')
          .submit
            a(href='/login', class='pull-left')
              input.btn.btn-primary(value='Back to Login')

            input.btn.btn-primary(type='submit', value='Set Password')
          .forget
            a(href='#')
              span
        script(type='text/javascript').
          $("#test").validate({
            rules: {
              password: "required",
              password_again: {
                equalTo: "#password"
              }
            }
          });