extends layout

block content

  body.login
    .wrapper(style='top: 40%')
      h1
        a(href='/')
          | BROKER
      .login-body
        p#success_msg You've successfully registered for an account at broker soft - an activation email has been sent to you
