extends layout

block content

  body.login
    .wrapper(style='top: 40%')
      h1
        a(href='/')
          | BROKER
      .login-body
        h2 Create an Account or
          a(href='/login')  Login
        form#test.form-validate(action='/signup', method='post')
          if signupMessage
            p #{signupMessage}

          .form-group
            .email.controls
              input.form-control(type='text', name='firstname', placeholder='First Name', data-rule-required='true')

          .form-group
            .email.controls
              input.form-control(type='text', name='secondname', placeholder='Second Name', data-rule-required='true')  

          .form-group
            .email.controls
              input.form-control(type='text', name='email', placeholder='Email Address', data-rule-required='true', data-rule-email='true')
          .form-group
            .pw.controls
              input.form-control(type='password', id="password", name='password', placeholder='Password', data-rule-required='true')
          .submit
            a(href='/login', class='pull-left')
              input.btn.btn-primary(value='Back to Login')

            input.btn.btn-primary(type='submit', value='Signup')
        .forget
          a(href='#')
            span
